<form>
  <div class="login-page">
    <div class="form">
      <h1>Signin</h1>
      <input type="text" placeholder="username" [(ngModel)]="username" name="user" />
      <input type="password" placeholder="password" [(ngModel)]="password" name="pass" />
      <p class="alert">{{alertMeg}}</p>
      <button (click)="signin(username,password)">Signin</button>
      <p class="message">Not registered? <a routerLink="/signup">Create an account</a></p>
    </div>
  </div>
</form>