<div class="container divTitle">

  <!-- My Forms Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">My Form</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4" *ngFor="let form of myForm">
      <div class="hovereffect">
        <div *ngFor="let image of form.image">
          <img class="img-responsive rounded-circle img-fluid d-block mx-auto " [src]="image.url"
            style="width: 200px; ;height:200px">
        </div>
        <div class="overlay">
          <h2>{{form.title}}</h2>
          <p>
            <a>
              <button type="button" class="btn btn-default imgBtnForm" routerLink="../shows/{{form.id}}">
                Show Detail
              </button>
            </a>
          </p>
        </div>
        <!-- (click)="selectForm(form.id)" -->
        <button type="button" class="btn btn-default btnForm" routerLink="../shows/{{form.id}}">
          <h3>{{form.title}}</h3>
        </button>
      </div>

      <!-- <p>{{user_username}}</p> -->
    </div>

  </div>


</div>