body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.btnTitle {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.btnMenu {
  color: rgb(183, 190, 196);
}
.btnMenu:hover {
  color: #2196F3;
}
.btnUser {
  font-weight: bold;
  size: 15px;
  color: #1976D2;
}
.btnUser:hover {
  color: #00BCD4;
}
.btnForm {
  color: #757575;
}
.btnForm:hover {
  color: #1976D2;
}

.imgBtnForm {
  color: #FFF;
}
.imgBtnForm:hover {
  color: #1976D2;
}