<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand"><button type="button" class="btn btn-default btnTitle" routerLink="./dashboard">Dr
        Forms</button>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"><button type="button" class="btn btn-default btnMenu" routerLink="./forms/list">My
              forms</button>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><button type="button" class="btn btn-default btnMenu">Share
              forms</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><button type="button" class="btn btn-primary btnNewform" routerLink="./forms/new">New
              forms</button></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"><button type="button" class="btn btn-default btnUser"
              (click)="selectUserform()">{{user_username}}</button></a>
        </li>
        <li>
          <img type="image" [src]="user_image_url" class="rounded-circle" alt="avatar" style="width:50px ;height:50px"
            (click)="selectUserform()">
        </li>
        <li>
          <a class="nav-link"><button type="button" class="btn btn-danger btnNewform"
              (click)="logOut()">logOut</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>